body{
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
  padding: 15px;
  margin: 3%;

}
.card{
  width: 25rem;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}
.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important;
}
.card-body{
  padding:3rem 0 !important;
}
.card-text{
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}
/* hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
} */
/* .span_item_price{
text-decoration-color: royalblue;
} */
.container-fluid.row{
  padding-top: 6rem;
}
.overflow{
  overflow:hidden;
}
.card-img-top{
  transform:scale(1);
}
.card-img-top:hover{
  transform: scale(1.4);
}
